<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Ishan Gadekar</title>
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}
        
        <div class="first-div" style="padding: 0 20% 0 20%;">
            <h1> DevOps Engineer Learning Software Development </h1>
            <p> Ishan Gadekar  is a DevOps Engineer. He has got experience in DevOps tools such as Linux, Jenkins, Docker and Kubernetes. He also has experience in system administration with Linux CentOs, Ubuntu and Bash Scripting.</p>
            <p>He is currently pursuing a Bachelor degree in Computer Science from Chikitsak Samuha's Sir Sitaram and Lady Shantabai Patkar College of Arts and Science.</p>
            <img src="../static/img/myAvatar.svg" style="border-radius: 50%;" height="300px" width="300px"><br/><br/>
            <img src="../static/img/devops.png" height="300px" width="300px">
        </div>
        

        <div class="second-div" style="background-color: #18dff1;">
            <h1>Some of his skills:</h1>

            <table style="margin-left: auto; margin-right: auto;">
                <tbody>
                    <tr>
                        <td><img src="https://img.icons8.com/?size=512&id=17842&format=png" height="100px" width="100px"></td>
                        <td><img src="https://img.icons8.com/?size=512&id=8gWOBXY72Osj&format=png" height="100px" width="100px"></td>
                        <td><img src="https://img.icons8.com/?size=512&id=wU62u24brJ44&format=png" height="100px" width="100px"></td>
                    </tr>
                    <tr>
                        <td><img src="https://img.icons8.com/?size=512&id=39292&format=png" height="100px" width="100px"></td>
                        <td><img src="https://img.icons8.com/?size=512&id=22813&format=png" height="100px" width="100px"></td>
                        <td><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/39/Kubernetes_logo_without_workmark.svg/926px-Kubernetes_logo_without_workmark.svg.png?20190926210707" height="100px" width="100px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        

        {% endblock %}
    </body>
</html>
